.cabecalho{
	width: 100vw;
	height: 20%;
	position: relative;
	background: #bdc3c7;
	margin-bottom: 25px;
}
.logo{
	position: absolute;
	height: 100%;
	width: 10%;
	left: 15px;
}
.menu{
	position: absolute;
	right: 15px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.link{
	margin-right: 5px;
	text-decoration: none;
	list-style: none;
	color: black;
}